body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

#topHandleSummaries {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    white-space: nowrap;
}

#topHandleSummaries li {
    display: inline-block;
    width: 200pt;
    vertical-align: top;
}

ul.handleSummaryItems {
    background: #ccc;
    overflow-x: scroll;
    white-space: normal;
    padding: 0;
}

ul.handleSummaryItems li {
    padding-bottom: 2pt;
    border-bottom: 1px black solid;
}

div.description {
   font-style: italic;
}
