version: '2'

services:
  cassandra:
    image: cassandra:2.1

  zookeeper:
    image: wurstmeister/zookeeper

  kafka:
    image: wurstmeister/kafka

  vision-scene-classification-it:
    image: eigengo/rsa16-vision-scene-classification-it:local

  vision-scene-classification:
    image: eigengo/rsa16-vision-scene-classification:local
