version: '2'

services:
  cassandra:
    image: cassandra:3

  kafka:
    image: cakesolutions/kafka:0.10.0.0

  it:
    image: eigengo/rsa-it:latest

  dashboard:
    image: eigengo/rsa-dashboard:latest

  vision-identity:
    image: eigengo/rsa-vision-identity:latest

  vision-scene-classification:
    image: eigengo/rsa-vision-scene-classification:latest
